/* Anidamiento */
header {
    background-color: purple;
    nav {
        padding: 20px;
        ul {
            list-style: circle;
            li {
                text-decoration: underline;
            }
        }
    }
}